%section.wrapper
  .row
    .col-lg-12
      %section.panel
        %header.panel-heading
          .row
            .col-lg-12
              %section.panel
                %header.panel-heading
                  Advanced Table
                %table.table.table-striped.table-advance.table-hover
                  %thead
                    %tr
                      %th
                        %i.fa.fa-bullhorn
                        Company
                      %th.hidden-phone
                        %i.fa.fa-question-circle
                        Descrition
                      %th
                        %i.fa.fa-bookmark
                        Profit
                      %th
                        %i.fa.fa-edit
                        Status
                      %th
                  %tbody
                    %tr
                      %td
                        %a{:href => "#"} Vector Ltd
                      %td.hidden-phone Lorem Ipsum dorolo imit
                      %td 12120.00$
                      %td
                        %span.label.label-info.label-mini Due
                      %td
                        %button.btn.btn-success.btn-xs
                          %i.fa.fa-check
                        %button.btn.btn-primary.btn-xs
                          %i.fa.fa-pencil
                        %button.btn.btn-danger.btn-xs
                          %i.fa.fa-trash-o
                    %tr
                      %td
                        %a{:href => "#"}
                          Adimin co
                      %td.hidden-phone Lorem Ipsum dorolo
                      %td 56456.00$
                      %td
                        %span.label.label-warning.label-mini Due
                      %td
                        %button.btn.btn-success.btn-xs
                          %i.fa.fa-check
                        %button.btn.btn-primary.btn-xs
                          %i.fa.fa-pencil
                        %button.btn.btn-danger.btn-xs
                          %i.fa.fa-trash-o
                    %tr
                      %td
                        %a{:href => "#"}
                          boka soka
                      %td.hidden-phone Lorem Ipsum dorolo
                      %td 14400.00$
                      %td
                        %span.label.label-success.label-mini Paid
                      %td
                        %button.btn.btn-success.btn-xs
                          %i.fa.fa-check
                        %button.btn.btn-primary.btn-xs
                          %i.fa.fa-pencil
                        %button.btn.btn-danger.btn-xs
                          %i.fa.fa-trash-o
                    %tr
                      %td
                        %a{:href => "#"}
                          salbal llb
                      %td.hidden-phone Lorem Ipsum dorolo
                      %td 2323.50$
                      %td
                        %span.label.label-danger.label-mini Paid
                      %td
                        %button.btn.btn-success.btn-xs
                          %i.fa.fa-check
                        %button.btn.btn-primary.btn-xs
                          %i.fa.fa-pencil
                        %button.btn.btn-danger.btn-xs
                          %i.fa.fa-trash-o
                    %tr
                      %td
                        %a{:href => "#"} Vector Ltd
                      %td.hidden-phone Lorem Ipsum dorolo imit
                      %td 12120.00$
                      %td
                        %span.label.label-primary.label-mini Due
                      %td
                        %button.btn.btn-success.btn-xs
                          %i.fa.fa-check
                        %button.btn.btn-primary.btn-xs
                          %i.fa.fa-pencil
                        %button.btn.btn-danger.btn-xs
                          %i.fa.fa-trash-o
                    %tr
                      %td
                        %a{:href => "#"}
                          Adimin co
                      %td.hidden-phone Lorem Ipsum dorolo
                      %td 56456.00$
                      %td
                        %span.label.label-warning.label-mini Due
                      %td
                        %button.btn.btn-success.btn-xs
                          %i.fa.fa-check
                        %button.btn.btn-primary.btn-xs
                          %i.fa.fa-pencil
                        %button.btn.btn-danger.btn-xs
                          %i.fa.fa-trash-o
                    %tr
                      %td
                        %a{:href => "#"} Vector Ltd
                      %td.hidden-phone Lorem Ipsum dorolo imit
                      %td 12120.00$
                      %td
                        %span.label.label-success.label-mini Due
                      %td
                        %button.btn.btn-success.btn-xs
                          %i.fa.fa-check
                        %button.btn.btn-primary.btn-xs
                          %i.fa.fa-pencil
                        %button.btn.btn-danger.btn-xs
                          %i.fa.fa-trash-o
                    %tr
                      %td
                        %a{:href => "#"}
                          Adimin co
                      %td.hidden-phone Lorem Ipsum dorolo
                      %td 56456.00$
                      %td
                        %span.label.label-warning.label-mini Due
                      %td
                        %button.btn.btn-success.btn-xs
                          %i.fa.fa-check
                        %button.btn.btn-primary.btn-xs
                          %i.fa.fa-pencil
                        %button.btn.btn-danger.btn-xs
                          %i.fa.fa-trash-o
                    %tr
                      %td
                        %a{:href => "#"} Vector Ltd
                      %td.hidden-phone Lorem Ipsum dorolo imit
                      %td 12120.00$
                      %td
                        %span.label.label-info.label-mini Due
                      %td
                        %button.btn.btn-success.btn-xs
                          %i.fa.fa-check
                        %button.btn.btn-primary.btn-xs
                          %i.fa.fa-pencil
                        %button.btn.btn-danger.btn-xs
                          %i.fa.fa-trash-o
                    %tr
                      %td
                        %a{:href => "#"}
                          Adimin co
                      %td.hidden-phone Lorem Ipsum dorolo
                      %td 56456.00$
                      %td
                        %span.label.label-warning.label-mini Due
                      %td
                        %button.btn.btn-success.btn-xs
                          %i.fa.fa-check
                        %button.btn.btn-primary.btn-xs
                          %i.fa.fa-pencil
                        %button.btn.btn-danger.btn-xs
                          %i.fa.fa-trash-o


